:root {
    --bg: #0c0c0dF5;
    --bg2: #2a2a2eB0;
    --outer-bg: #28c8b1;
}

html, body {height: 100%;}

body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    /* background: var(--outer-bg); */
    background-image: url(https://source.unsplash.com/random/1920*1080/?woman,bikini);
    background-size: cover;
    background-position: center;
    font-family: "Roboto", Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace, system-ui;
    margin: 0;
    padding: 0 .5rem;
}

* {
    font-variant-ligatures: none;
}

button { cursor: pointer; }

main {
    width: 90rem;
    max-width: 100%;
    height: 50rem;
    max-height: 100%;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    z-index: 20;
}

.blur-div {
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  z-index: 10;
}

.blur-bg {
  backdrop-filter: blur(40px);
}

.btn {
	background: transparent;
	padding: 0 .7rem;
}

.controls, .copy, .footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	/*        top right bottom left */
	padding: .3rem 1rem .3rem 2rem;
}

.left, .right {
	display: flex;
	align-items: center;
}

.left { gap: .5rem; }
.footer { padding-top: 0; }

#editor {
    flex-grow: 1;
    overflow: auto;
    position: relative;
}

#controls,
.copy,
footer {
    background-color: var(--bg);
    z-index: 10;
}

#footer { color: #A0A0A0; }

#progress {
    min-height: 3px;
    background: var(--accent);
    z-index: 15;
    width: 0;
}

.modal {
	display: none;
	width: 100%;
	height: 100%;
	place-content: center;
	position: absolute;
	top: 0;
	left: 0;
	background: var(--bg);
	z-index: 10;
}

.hidden,
select,
.copy:not(.hidden) + #controls,
body.readonly .hide-readonly,
body:not(.readonly) .show-readonly,
body.readonly:not(:hover) #footer {
    display: none;
}

#copy-link { width: 100%; }
#copy-link:focus { outline: 1px solid; }

/* Styling */
.CodeMirror,
.CodeMirror-scroll {
  background: #0c0c0dB0 !important;
}

a,
a:active,
a:focus {
    color: #fff;
    outline: none;
    font-weight: bold;
    text-decoration: none;
    padding: 0 .5rem;
    /* margin: 0 1rem; */
}
a:hover { text-decoration: underline; }

.CodeMirror { height: 100%; font-size: 1.5em; }
.CodeMirror-gutters { background: black; color: white; }
#controls .ss-main { width: 180px; }

.ss-main .ss-single-selected,
button,
input[type='text'],
input[type='search'] {
    background-color: transparent !important;
    color: #fff !important;
    border: none;
    height: 26px !important;
}

.ss-single-selected { padding-left: 0 !important; }
input::-webkit-search-cancel-button { display: none; }

button:hover {
    background-color: hsla(0, 0%, 100%, 10%) !important;
}
.ss-content {
    background-color: var(--bg);
    color: #ffffff;
    font-size: 14px;
    border: none;
}

.ss-search > input { border: none !important; }
.ss-option:hover { background-color: hsla(0, 0%, 100%, 10%) !important; }
.ss-content .ss-disabled { background-color: hsla(0, 0%, 100%, 10%) !important; }

@media screen and (max-width: 800px) {
    body {
        padding: 0;
    }

    main {
        height: 100%;
    }
}
